<div class="flex flex-col min-h-screen">
  <app-navbar></app-navbar>
  <main class="flex-1 p-2 overflow-auto">
    <div class="flex flex-col md:flex-row items-center justify-between gap-4 p-4">
      <h1 class="text-xl font-bold text-center md:text-left">Manejo de usuarios</h1>
      <button
        class="btn btn-primary w-full md:w-auto"
        onclick="document.getElementById('userModal').showModal()"
      >
        <i class="ti ti-table-plus"></i> Nuevo usuario
      </button>
    </div>

    @if (isLoading) {
      <div class="flex flex-col items-center justify-center gap-2 mt-10">
        <span class="loading loading-infinity loading-xl"></span>
        <span class="text-center">Cargando información, por favor espere...</span>
      </div>
    }

    @if (customers.length != 0 && !isLoading) {
      <div class="overflow-x-auto p-4">
        <table class="table table-zebra">
          <thead>
            <tr>
              <th>Nombre completo</th>
              <th>Documento</th>
              <th>Correo</th>
              <th>Fecha Nac.</th>
              <th>Opciones</th>
            </tr>
          </thead>
          <tbody>
            @for (customer of customers; track $index) {
            <tr>
              <td>
                <div class="flex items-center gap-3">
                  <div class="avatar">
                    <div class="mask mask-squircle w-12 h-12">
                      <img
                        [src]="`https://eu.ui-avatars.com/api/?background=000&color=66cc8a&name=${customer.name}&bold=true`"
                        alt="Avatar"
                      />
                    </div>
                  </div>
                  <div>
                    <div class="font-bold">
                      {{ customer.name }} {{ customer.lastName }}
                    </div>
                    <div class="text-sm opacity-50">República Dominicana</div>
                  </div>
                </div>
              </td>
              <td>{{ customer.document }}</td>
              <td>{{ customer.email }}</td>
              <td>{{ customer.dateOfBirth.toString().substring(0, 10) }}</td>
              <th>
                <div class="tooltip" data-tip="Editar">
                  <button class="btn btn-warning mr-2" (click)="selectCustomerToEdit(customer)">
                    <i class="ti ti-edit"></i>
                  </button>
                </div>

                <div class="tooltip" data-tip="Eliminar">
                  <button class="btn btn-error" (click)="selectCustomerToDelete(customer)">
                    <i class="ti ti-trash"></i>
                  </button>
                </div>
              </th>
            </tr>
            }
          </tbody>
        </table>
      </div>
    }
  </main>
  <app-footer></app-footer>
</div>
<!-- MODALS FOR USER MANAGEMENT -->
<dialog id="userModal" class="modal">
  <div class="modal-box">
    @if (isEditMode) {
      <h3 class="font-bold text-lg mb-4">Editar Usuario</h3>
    } @else {
      <h3 class="font-bold text-lg mb-4">Agregar Nuevo Usuario</h3>
    }

    <form [formGroup]="userForm" (ngSubmit)="submitForm(isEditMode)" class="space-y-3">
      <input
        type="text"
        placeholder="Documento"
        class="input input-bordered w-full"
        formControlName="document"
        maxlength="13"
      />
      @if (userForm.get('document')?.touched &&
      userForm.get('document')?.invalid) {
      <p class="text-red-500 text-sm">Documento es requerido.</p>
      }

      <input
        type="text"
        placeholder="Nombre"
        class="input input-bordered w-full"
        formControlName="name"
      />
      @if (userForm.get('name')?.touched && userForm.get('name')?.invalid) {
      <p class="text-red-500 text-sm">Nombre es requerido.</p>
      }

      <input
        type="text"
        placeholder="Apellido"
        class="input input-bordered w-full"
        formControlName="lastName"
      />
      @if (userForm.get('lastName')?.touched &&
      userForm.get('lastName')?.invalid) {
      <p class="text-red-500 text-sm">Apellido es requerido.</p>
      }

      <input
        type="email"
        placeholder="Correo"
        class="input input-bordered w-full"
        formControlName="email"
      />
      @if (userForm.get('email')?.touched &&
      userForm.get('email')?.hasError('required')) {
      <p class="text-red-500 text-sm">Correo es requerido.</p>
      } @if (userForm.get('email')?.touched &&
      userForm.get('email')?.hasError('email')) {
      <p class="text-red-500 text-sm">Formato de correo inválido.</p>
      }

      <input
        type="date"
        class="input input-bordered w-full"
        formControlName="dateOfBirth"
      />
      @if (userForm.get('dateOfBirth')?.touched &&
      userForm.get('dateOfBirth')?.invalid) {
      <p class="text-red-500 text-sm">Fecha de nacimiento es requerida.</p>
      }

      <div class="modal-action">
        <button type="button" class="btn" (click)="closeModal(true)">Cerrar</button>
        <button type="submit" class="btn btn-primary">{{isEditMode ? 'Editar' : 'Guardar'}}</button>
      </div>
    </form>
  </div>
</dialog>

<!-- DELETE DIALOG  -->
<dialog id="delete_modal" class="modal">
  <div class="modal-box">
    <h3 class="text-lg font-bold">Eliminar usuario!</h3>
    <p class="py-4">¿Estas seguro de eliminar el usuario {{selectedCustomer?.name}} {{selectedCustomer?.lastName}}?</p>
    <div class="modal-action">
      <form method="dialog">
        <button class="btn mr-2">Cancelar</button>
        <button class="btn btn-error" (click)="deleteCustomer()">Si, Eliminar</button>
      </form>
    </div>
  </div>
</dialog>
