@tailwind base;
@tailwind components;
@tailwind utilities;

.content {
  display: grid;
  min-height: 100dvh;
  grid-template-rows: auto 1fr auto;
}

.row {
  display: flex;
  flex-direction: row;
}

.center{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
}
